/* Global Styles */
body * {
  box-sizing: border-box;
  font-family: 'Raleway', 'Helvetica Neue' , sans-serif;
}

/* End Global Styles */

/* Headings */
h3, h4 {
  font-family: 'Rokkitt', serif;
}

/* End Headings */

/* Cards */
.card {
  padding: 20px;
  width: 480px;
  margin: 20px auto;
  box-shadow: 0 0 1em black;
  border: 1px solid lightgray;
}

.card .title {
  margin: 0;
  font-size: 2.5em;
  text-align: center;

  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.card p {
  line-height: 1.5em;
}

/* Choices */
.choices h4 {
  font-size: 1.25em;
  margin: 0;
  border-bottom: 1px solid lightgray;
  text-transform: uppercase;
}

.choices ul {
  padding: 0;
  list-style-type: none;
}

.choices a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: blueviolet;

  display: block;
  width: 100%;
  padding: 5px;
  margin: 10px 0;

  border: 2px solid black;
}

.choices a:hover {
  background-color: skyblue;
  color: black;
}

.choices .selected {
  background-color: skyblue;
}

/* End Choices */
