/* Global Styles */
body * {
  box-sizing: border-box;
  font-family: 'Raleway', 'Helvetica Neue' , sans-serif;
}

/* End Global Styles */

/* Headings */
h3, h4 {
  font-family: 'Rokkitt', serif;
}

h3 {
  font-size: 2.5em;
  text-align: center;
}

/* End Headings */

/* Cards */
.card {
  padding: 20px;
  width: 480px;
  margin: 20px auto;
  box-shadow: 0 0 1em black;
  border: 1px solid lightgray;
}

/* Choices */

.choices a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* End Choices */
